<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.jda.mobility.DataCacheManager"
      version="0.0.1">

    <name>DataCacheManager</name>
    <description>JDA Data Cache Manager Plugin</description>

    <js-module src="src/www/DataCacheManager.js" name="DataCacheManager">
        <clobbers target="Jda.mobility.plugins.DataCacheManager" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DataCacheManager">
                <param name="android-package" value="com.jda.mobility.plugin.DataCacheManager"/>
            </feature>
        </config-file>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="DataCacheManager">
                <param name="ios-package" value="JMDataCacheManager"/>
            </feature>
        </config-file>
    </platform>
</plugin>
