<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.jda.mobility.NavigationBarComponentManager"
      version="0.0.1">

    <name>NavigationBarComponentManager</name>
    <description>JDA Navigation Bar Component Manager</description>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NavigationBarComponentManager">
                <param name="android-package" value="com.jda.mobility.plugin.NavigationBarComponentManager"/>
            </feature>
        </config-file>

        <js-module src="src/www/NavigationBarComponentManager.js" name="NavigationBarComponentManager">
            <clobbers target="Jda.mobility.plugins.NavigationBarComponentManager" />
        </js-module>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NavigationBarComponentManager">
                <param name="ios-package" value="JMNavigationBarComponentManager"/>
            </feature>
        </config-file>

        <js-module src="src/www/NavigationBarComponentManager.js" name="NavigationBarComponentManager">
            <clobbers target="Jda.mobility.plugins.NavigationBarComponentManager" />
        </js-module>
    </platform>

    <!-- Windows plugin is injected as part of core_www and cannot inherit the js file of the other platforms -->

</plugin>
