lint:recommended",
    "plugins":["jda-dm"],

    "rules":{
        "brace-style":1,
        "comma-spacing":2,
        "comma-dangle":2,
        "complexity":[2, 15],
        "constructor-super":2,
        "curly":2,
        "dot-location":[1, "property"],
        "dot-notation":1,
        "eqeqeq":2,
        "indent":[2, 4, {"SwitchCase":1}],
        "key-spacing":1,
        "max-depth":[2, 10],
        "max-len":[2, 120, 4],
        "max-nested-callbacks":[2, 4],
        "max-statements":[2, 20],
        "no-alert":2,
        "no-eval":2,
        "no-implied-eval":2,
        "no-multi-spaces":2,
        "no-nested-ternary":2,
        "no-shadow":2,
        "no-spaced-func":2,
        "no-trailing-spaces":2,
        "no-underscore-dangle":0,
        "no-useless-concat":1,
        "no-unused-vars":[1, {"args":"none"}],
        "no-lonely-if":2,
        "no-case-declarations":2,
        "no-class-assign":2,
        "no-cond-assign":2,
        "no-console":2,
        "no-const-assign":2,
        "no-constant-condition":2,
        "no-control-regex":2,
        "no-debugger":2,
        "no-delete-var":2,
        "no-dupe-class-members":2,
        "no-dupe-keys":2,
        "no-dupe-args":2,
        "no-duplicate-case":2,
        "no-empty":2,
        "no-empty-character-class":2,
        "no-empty-pattern":2,
        "no-ex-assign":2,
        "no-extra-boolean-cast":2,
        "no-extra-semi":2,
        "no-fallthrough":2,
        "no-func-assign":2,
        "no-inner-declarations":2,
        "no-invalid-regexp":2,
        "no-irregular-whitespace":2,
        "no-mixed-spaces-and-tabs":2,
        "no-negated-in-lhs":2,
        "no-obj-calls":2,
        "no-octal":2,
        "no-redeclare":2,
        "no-regex-spaces":2,
        "no-sparse-arrays":2,
        "no-this-before-super":2,
        "no-unexpected-multiline":2,
        "no-unreachable":2,
        "quotes":[2, "single"],
        "semi":2,
        "space-before-blocks":2,
        "space-infix-ops":2,
        "strict":[2, "never"],
        "valid-typeof":2,
        "use-isnan":2,

        "jda-dm/rpux-deprecations":1,
        "jda-dm/rp-deprecations":1,
        "jda-dm/lm-menu":1

    },

    "globals":{
        "jda":false,
        "RP":false,
        "RPUX":false,
        "LM":false,
        "WM":false,
	    "DM":false,
        "Ext":false,
        "logger":false,
        "CSUnit":false,
        "sinon":false,
        "moment":false,
        "expect":false
    },

    "env":{
        "mocha":true,
        "browser":true
    }
}
